# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies and Database
node_modules/
backend/node_modules/
brainera/node_modules/
backend/data/

# Production
dist/
dist-ssr/
brainera/dist/

# Environment variables
.env
backend/.env
brainera/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor/OS files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
